* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 1em 13em 7em 13em;
    width: 1440px;
    background-color: #1F2937;
}

nav {
    display: flex;
    gap: 30px;
}


h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}
p, a {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}
a:first-child {
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}

img.img1 {
    width: 35vw;
}